<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedMunicipios">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedMunicipios">{{selectedMunicipios}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <img height="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Igreja_Matriz_de_Nossa_Senhora_da_Concei%C3%A7%C3%A3o_-_%C3%81gua_Branca_AL.jpg/1280px-Igreja_Matriz_de_Nossa_Senhora_da_Concei%C3%A7%C3%A3o_-_%C3%81gua_Branca_AL.jpg"/>
        <ion-card-content>
            <ion-card-title>
                Nine Inch Nails Live
                </ion-card-title>
                <h3 text-align padding>
                    Descrição da cidade com dados atualizados de população e colocar a parte histórica dela.
                  </h3>
                  <h4 text-center *ngIf="selectedMunicipios">
                    You navigated here from <b>{{selectedMunicipios}}</b>
                  </h4>
        </ion-card-content>
      </ion-card>
</ion-content>
